service: pingbot

provider:
  name: aws
  runtime: nodejs12.x
  stage: dev
  region: eu-west-1

package:
  exclude:
    - README.md
    - LICENSE
    - res/

functions:
  PingbotLambdaDispatcher:
    name: pingbot-dispatcher
    handler: src/pingbot-dispatcher.handler
    description : "Function to fetch check targets from DynamoDB table and invoke the health check function"
    memorySize: 1024
    timeout: 60
    role:
      'Fn::GetAtt': [ PingbotDispatcherLambdaRole, Arn ]
    events:
      - schedule: rate(1 minute)

  PingbotLambdaHealthChecker:
    name: pingbot-health-checker
    handler: src/pingbot-health-checker.handler
    description : "Function to make an HTTP/HTTPS request and save result to DynamoDB table"
    memorySize: 1024
    timeout: 55
    role:
      'Fn::GetAtt': [ PingbotLambdaRole, Arn ]

  PingbotLambdaResultProcessor:
    name: pingbot-result-processor
    handler: src/pingbot-result-processor.handler
    description : "Function to handle the check status changes (invokes notifiers, persists status history)"
    memorySize: 1024
    timeout: 50
    role:
      'Fn::GetAtt': [ PingbotStreamLambdaRole, Arn ]
    events:
      - stream:
          type: dynamodb
          arn:
            Fn::GetAtt: [PingbotResults, StreamArn]

  PingbotLambdaSlackNotifier:
    name: pingbot-slack-notifier
    handler: src/pingbot-slack-notifier.handler
    description : "Function to notify the check status changes"
    memorySize: 1024
    timeout: 50
    role:
      'Fn::GetAtt': [ PingbotLambdaRole, Arn ]

resources:
  Resources:
    PingbotTargets:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: pingbot-targets
        AttributeDefinitions:
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: uuid
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 10
    PingbotResults:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName : pingbot-results
        AttributeDefinitions:
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: uuid
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 5
          WriteCapacityUnits: 10
        StreamSpecification:
          StreamViewType: NEW_AND_OLD_IMAGES
    PingbotDispatcherLambdaRole:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Statement:
          - Effect: "Allow"
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
        Path: /
        # Path: "/pingbot/",
        Policies:
          - PolicyName: LambdaFunctionPolicy
            PolicyDocument:
              Statement:
                - Effect: Allow
                  Action:
                    - "logs:CreateLogGroup"
                    - "logs:CreateLogStream"
                    - "logs:PutLogEvents"
                  Resource:
                    - arn:aws:logs:*:*:*
                - Effect: Allow
                  Action:
                    - "lambda:InvokeFunction"
                  Resource: # "*"
                    - Fn::GetAtt: [PingbotLambdaHealthCheckerLambdaFunction, Arn]
                    - Fn::GetAtt: [PingbotLambdaSlackNotifierLambdaFunction, Arn]
                - Effect: Allow
                  Action:
                    - "dynamodb:GetItem"
                    - "dynamodb:PutItem"
                    - "dynamodb:Scan"
                  Resource:
                    - Fn::GetAtt: [PingbotTargets, Arn]
                    - Fn::GetAtt: [PingbotResults, Arn]

    PingbotStreamLambdaRole:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Statement:
          - Effect: "Allow"
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
        Path: /
        # Path: "/pingbot/",
        Policies:
          - PolicyName: LambdaFunctionPolicy
            PolicyDocument:
              Statement:
                - Effect: Allow
                  Action:
                    - "logs:CreateLogGroup"
                    - "logs:CreateLogStream"
                    - "logs:PutLogEvents"
                  Resource:
                    - arn:aws:logs:*:*:*
                - Effect: Allow
                  Action:
                    - "dynamodb:GetItem"
                    - "dynamodb:PutItem"
                    - "dynamodb:Scan"
                  Resource:
                    - Fn::GetAtt: [PingbotTargets, Arn]
                    - Fn::GetAtt: [PingbotResults, Arn]
                - Effect: Allow
                  Action:
                    - "dynamodb:DescribeStream"
                    - "dynamodb:GetRecords"
                    - "dynamodb:GetShardIterator"
                    - "dynamodb:ListStreams"
                  Resource:
                    - Fn::GetAtt: [PingbotResults, StreamArn]
    PingbotLambdaRole:
      Type: AWS::IAM::Role
      Properties:
        AssumeRolePolicyDocument:
          Statement:
          - Effect: "Allow"
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
        Path: /
        # Path: "/pingbot/",
        Policies:
          - PolicyName: LambdaFunctionPolicy
            PolicyDocument:
              Statement:
                - Effect: Allow
                  Action:
                    - "logs:CreateLogGroup"
                    - "logs:CreateLogStream"
                    - "logs:PutLogEvents"
                  Resource:
                    - arn:aws:logs:*:*:*
                - Effect: Allow
                  Action:
                    - "dynamodb:GetItem"
                    - "dynamodb:PutItem"
                    - "dynamodb:Scan"
                  Resource:
                    - Fn::GetAtt: [PingbotTargets, Arn]
                    - Fn::GetAtt: [PingbotResults, Arn]
